button.jukebox-button {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
  border: 1px solid #009933;
  border-radius: 4px;
  color: white;
  background-color: #009933;
  transition: background-color ease 0.3s;
}
button.jukebox-button:hover {
  background-color: #00802b;
  text-decoration: none;
}
span.jukebox-display {
  display: inline-block;
  padding: 8px 16px;
  font-family: monospace;
  line-height: 25px;
  border: 1px solid #666666;
  border-radius: 4px;
  color: white;
  background-color: #404040;
  margin-right: 20px;
  min-width: 200px;
}
